<!-- === BEGIN HEADER === -->
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Viazushki</title>

    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    {% block meta %}{% endblock %}

    <link href="{{ asset('favicon.ico') }}" rel="shortcut icon">
    {% block css %}
    <link rel="stylesheet" href="{{ asset('assets/css/bootstrap.css') }}">

    <link rel="stylesheet" href="{{ asset('assets/css/animate.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/nexus.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/responsive.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/custom.css') }}">
    <link rel="stylesheet"  href="{{ asset('assets/lib/toastr/toastr.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/style.css') }}">
    {% endblock %}
    {% block fonts %}
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open Sans:300,400"/>
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Source Sans Pro:300,400"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Rouge+Script">
    {% endblock %}
</head>
<body>
<div id="body_bg">
    <div id="container_header" class="container">
        <div id="header" class="row">
            <div class="col-md-6 col-sm-6 col-xs-6 margin-top-25">
                <div class="locale">
                    <a href="{{ path('viazushki_homepage', {'_locale': 'en'}) }}">en</a> | <a href="{{ path('viazushki_homepage', {'_locale': 'ru'}) }}">ru</a>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6 margin-top-15">
                <div class="authorisation circle pull-right">
                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                        <div class="admin">
                            <a href="{{ path('logout') }}" title="Выйти"><i class="fa fa-sign-out fa-2x"
                                                                            aria-hidden="true"></i></a>
                        </div>
                    {% else %}
                        <div class="login">
                            <a href="{{ path('viazushki_login') }}" title="Войти"><i class="fa fa-sign-in fa-2x"
                                                                                     aria-hidden="true"></i></a>
                        </div>
                    {% endif %}
                    {% if is_granted('ROLE_ADMIN') %}
                    <div class="admin">
                        <a href="{{ path('sonata_admin_dashboard') }}" title="Админка"><i class="fa fa-user fa-2x"
                                                                                           aria-hidden="true"></i></a>
                    </div>
                    {% endif %}
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <div class="primary-container-group">
        <div class="primary-container-background">
            <div class="primary-container"></div>
            <div class="clearfix"></div>
        </div>
        <div class="primary-container">
            <!-- === BEGIN HEADER === -->
            <div id="container_hornav" class="container no-padding">
                <div class="logo">
                    <a href="{{ path('viazushki_homepage') }}">Viazushki</a>
                </div>
                <p class="site-slogan">{{ 'handmade toys'|trans }}</p>
                <div class="row">
                    <div class="hornav-block">
                        <div id="hornav" class="pull-right">
                            {% block topMenu %}
                            {{ knp_menu_render('main') }}
                            {% endblock %}
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <!-- === END HEADER === -->
            <!-- === BEGIN CONTENT === -->
            <div class="container">
                <div class="row margin-vert-30">
                    {% if app.session.flashBag.has('success_register') %}
                        <div id="success_register" class="alert alert-success">
                            {% for msg in app.session.flashBag.get('success_register') %}
                                {{ msg }}
                            {% endfor %}
                        </div>
                    {% endif %}
                    {% block content %}{% endblock %}
                </div>
            </div>
            <!-- === END CONTENT === -->
            <!-- === BEGIN FOOTER === -->
            {#<div id="base" class="container padding-vert-30">#}
                {#<div class="row">#}
                    {#{% include '@Viazushki/Includes/_footer.html.twig' %}#}
                {#</div>#}
            {#</div>#}

            <div id="footermenu" class="container">
                <div class="row">
                    {% include '@Viazushki/Includes/_footerMenu.html.twig' %}
                </div>
            </div>
            <!-- === END FOOTER === -->
        </div>
    </div>
    <div class="container padding-vert-30">

    </div>
</div>
{% for label, messages in app.flashes %}
    {% for message in messages %}
        <div data-notification="{{ label }}" class="hidden">{{ message }}</div>
    {% endfor %}
{% endfor %}
<div id="fb-root"></div>
{% block scripts %}
<script>(function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = 'https://connect.facebook.net/ru_RU/sdk.js#xfbml=1&version=v3.0&appId=849744771894263&autoLogAppEvents=1';
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
<script type="text/javascript" src="{{ asset('assets/js/jquery.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('assets/js/bootstrap.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('assets/lib/toastr/toastr.min.js') }}"></script>
<!-- Isotope - Portfolio Sorting -->
<script type="text/javascript" src="{{ asset('assets/js/jquery.isotope.js') }}"></script>
<!-- Mobile Menu - Slicknav -->
<script type="text/javascript" src="{{ asset('assets/js/jquery.slicknav.js') }}"></script>
<!-- Animate on Scroll-->
<script type="text/javascript" src="{{ asset('assets/js/jquery.visible.js') }}" charset="utf-8"></script>
<!-- Modernizr -->
<script src="{{ asset('assets/js/modernizr.custom.js') }}" type="text/javascript"></script>
<script type="text/javascript" src="{{ asset('assets/js/scripts.js') }}"></script>
{% endblock %}
</body>
</html>
