{% extends '@Viazushki/base.html.twig' %}

{% block title %}Viazushki{% endblock %}

{% block logo %}
    <div class="logo">
        <a href="{{ url('viazushki_homepage') }}">Viazushki</a>
    </div>
{% endblock %}

{% block topMenu %}
    {{ knp_menu_render('main') }}
{% endblock %}

{% block slogan %}
    <p class="site-slogan">{{ 'handmade toys'|trans }}</p>
{% endblock %}

{% block footer %}
    {% include '@Viazushki/Includes/_footer.html.twig' %}
{% endblock %}

{% block footerMenu %}
    {% include '@Viazushki/Includes/_footerMenu.html.twig' %}
{% endblock %}

{% block copyright %}
    <p>&copy; 2017 <a href="{{ url('viazushki_homepage') }}">viazushki.com</a></p>
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{{ asset('assets/css/bootstrap.css') }}" rel="stylesheet">

    <link rel="stylesheet" href="{{ asset('assets/css/animate.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('assets/css/font-awesome.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('assets/css/nexus.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('assets/css/responsive.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('assets/css/custom.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('assets/css/style.css') }}" rel="stylesheet">
{% endblock %}

{% block fonts %}
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Open Sans:300,400"/>
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Source Sans Pro:300,400"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Rouge+Script">
{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="{{ asset('assets/js/jquery.min.js') }}" type="text/javascript"></script>
    <script type="text/javascript" src="{{ asset('assets/js/bootstrap.min.js') }}" type="text/javascript"></script>
    <script type="text/javascript" src="{{ asset('assets/js/scripts.js') }}"></script>
    <!-- Isotope - Portfolio Sorting -->
    <script type="text/javascript" src="{{ asset('assets/js/jquery.isotope.js') }}" type="text/javascript"></script>
    <!-- Mobile Menu - Slicknav -->
    <script type="text/javascript" src="{{ asset('assets/js/jquery.slicknav.js') }}" type="text/javascript"></script>
    <!-- Animate on Scroll-->
    <script type="text/javascript" src="{{ asset('assets/js/jquery.visible.js') }}" charset="utf-8"></script>
    <!-- Modernizr -->
    <script src="{{ asset('assets/js/modernizr.custom.js') }}" type="text/javascript"></script>
{% endblock %}

