{% extends '@Viazushki/layers.html.twig' %}

{% block topMenu %}
    {% include '@Viazushki/Includes/_topMenu.html.twig' %}
{% endblock %}

{% block content %}
    <!-- Main Column -->
    <div class="col-md-9">
        <div class="headline">
            <h2>Свяжитесь с нами</h2>
        </div>
        {{ form_start(contactForm, { 'attr': {'id': 'contact_form'} }) }}
        <div class="row margin-bottom-20">
            <div class="col-md-6 col-md-offset-0">
                <div class="form-group {% if form_errors(contactForm.name) %}has-error{% endif %}">
                    {{ form_label(contactForm.name, 'Ваше имя') }}
                    <span class="color-red">*</span>
                    {{ form_widget(contactForm.name, { 'attr': {'class': 'form-control'} }) }}
                    {{ form_errors(contactForm.name) }}
                </div>
            </div>
        </div>
        <div class="row margin-bottom-20">
            <div class="col-md-6 col-md-offset-0">
                <div class="form-group {% if form_errors(contactForm.email) %}has-error{% endif %}">
                    {{ form_label(contactForm.email, 'Email') }}
                    <span class="color-red">*</span>
                    {{ form_widget(contactForm.email, { 'attr': {'class': 'form-control'} }) }}
                    {{ form_errors(contactForm.email) }}
                </div>
            </div>
        </div>
        <div class="row margin-bottom-20">
            <div class="col-md-8 col-md-offset-0">
                <div class="form-group {% if form_errors(contactForm.text) %}has-error{% endif %}">
                    {{ form_label(contactForm.text, 'Сообщение') }}
                    <span class="color-red">*</span>
                    {{ form_widget(contactForm.text, { 'attr': {'class': 'form-control', 'rows': '8'} }) }}
                    {{ form_errors(contactForm.text) }}
                </div>
            </div>
        </div>
        <p>
            {{ form_widget(contactForm.submit, { 'label': 'Отправить', 'attr': { 'class': 'btn btn-primary'} }) }}
        </p>
        {{ form_end(contactForm) }}
    </div>
    <!-- End Main Column -->
    <!-- Side Column -->
    <div class="col-md-3">
        <!-- Recent Posts -->
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Контакты</h3>
            </div>
            <div class="panel-body">
                <p>Lorem ipsum dolor sit amet, no cetero voluptatum est, audire sensibus maiestatis vis et. Vitae audire
                    prodesset an his. Nulla ubique omnesque in sit.</p>
                <ul class="list-unstyled">
                    <li>
                        <i class="fa-phone color-primary"></i>+353-44-55-66
                    </li>
                    <li>
                        <i class="fa-envelope color-primary"></i>info@example.com
                    </li>
                    <li>
                        <i class="fa-home color-primary"></i>http://www.example.com
                    </li>
                </ul>
                <ul class="list-unstyled">
                    <li>
                        <strong class="color-primary">Monday-Friday:</strong>9am to 6pm
                    </li>
                    <li>
                        <strong class="color-primary">Saturday:</strong>10am to 3pm
                    </li>
                    <li>
                        <strong class="color-primary">Sunday:</strong>Closed
                    </li>
                </ul>
            </div>
        </div>
        <!-- End recent Posts -->
        <!-- About -->
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">О нас</h3>
            </div>
            <div class="panel-body">
                Et harum quidem rerum facilis est et expedita distinctio lorem ipsum dolor sit amet, consectetur
                adipiscing elit. Ut non libero consectetur adipiscing elit magna. Sed et quam lacus. Fusce condimentum
                eleifend enim a feugiat.
            </div>
        </div>
        <!-- End About -->
    </div>
    <!-- End Side Column -->
{% endblock %}

{% block footer %}
    {% include '@Viazushki/Includes/_footer.html.twig' %}
{% endblock %}

{% block footerMenu %}
    {% include '@Viazushki/Includes/_footerMenu.html.twig' %}
{% endblock %}
