{% extends '@Viazushki/base.html.twig' %}

{% block content %}
    <!-- Login Box -->
    <div class="col-md-6 col-md-offset-3 col-sm-offset-3">
        {% if error %}
            <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}
        {{ form_start(loginForm, { 'attr': {'class': 'login-page'} }) }}
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
        <div class="login-header margin-bottom-30">
            <h2>Войдите</h2>
        </div>
        <div class="group {% if form_errors(loginForm.email) %}has-error{% endif %}">
            {{ form_errors(loginForm.email) }}
            <div class="input-group margin-bottom-20">
                <span class="input-group-addon">
                    <i class="fa fa-envelope"></i>
                </span>
                {{ form_widget(loginForm.email, { 'attr': {'placeholder': 'E-mail'} }) }}
            </div>
        </div>
        <div class="group {% if form_errors(loginForm.password) %}has-error{% endif %}">
            {{ form_errors(loginForm.password) }}
            <div class="input-group margin-bottom-20">
                <span class="input-group-addon">
                    <i class="fa fa-lock"></i>
                </span>
                {{ form_widget(loginForm.password, { 'attr': {'placeholder': 'Пароль'} }) }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <label class="checkbox">
                    <input type="checkbox" name="_remember_me">Запомнить меня</label>
            </div>
            <div class="col-md-6">
                {{ form_widget(loginForm.submit, { 'label': 'Войти', 'attr': { 'class': 'btn btn-primary pull-right'} }) }}
            </div>
        </div>
        <hr>
        <h4>Забыли пароль ?</h4>
        <p>
            <a class="color-green" href="{{ path('viazushki_reset_password') }}">Кликните здесь</a> для восстановления пароля.</p>
        <hr>
        <h4>Не зарегестрированы?</h4>
        <p>
            <a class="color-green" href="{{ path('viazushki_register') }}">Регистрация</a></p>
        {{ form_end(loginForm) }}
    </div>
    <!-- End Login Box -->
{% endblock %}

