{% extends '@Viazushki/layers.html.twig' %}

{% block topMenu %}
    {{ knp_menu_render('main') }}
{% endblock %}

{% block content %}
    <!-- Login Box -->
    <div class="col-md-6 col-md-offset-3 col-sm-offset-3">
        {{ form_start(registerForm, { 'attr': {'class': 'login-page'} }) }}
        <div class="login-header margin-bottom-30">
            <h2>Зарегистрируйтесь</h2>
        </div>
        <div class="group {% if form_errors(registerForm.username) %}has-error{% endif %}">
            {{ form_errors(registerForm.username) }}
            <div class="input-group margin-bottom-20">
                <span class="input-group-addon">
                    <i class="fa fa-user"></i>
                </span>
                {{ form_widget(registerForm.username, { 'attr': {'placeholder': 'Имя'} }) }}
            </div>
        </div>
        <div class="group {% if form_errors(registerForm.email) %}has-error{% endif %}">
            {{ form_errors(registerForm.email) }}
            <div class="input-group margin-bottom-20">
                <span class="input-group-addon">
                    <i class="fa fa-envelope"></i>
                </span>
                {{ form_widget(registerForm.email, { 'attr': {'placeholder': 'E-mail'} }) }}
            </div>
        </div>
        <div class="group {% if form_errors(registerForm.plainPassword.first) %}has-error{% endif %}">
            {{ form_errors(registerForm.plainPassword.first) }}
            <div class="input-group margin-bottom-20">
                <span class="input-group-addon">
                    <i class="fa fa-lock"></i>
                </span>
                {{ form_widget(registerForm.plainPassword.first, { 'attr': {'placeholder': 'Введите пароль'} }) }}
            </div>
        </div>
        <div class="group {% if form_errors(registerForm.plainPassword.second) %}has-error{% endif %}">
            {{ form_errors(registerForm.plainPassword.second) }}
            <div class="input-group margin-bottom-20">
                <span class="input-group-addon">
                    <i class="fa fa-lock"></i>
                </span>
                {{ form_widget(registerForm.plainPassword.second, { 'attr': {'placeholder': 'Повторите пароль'} }) }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                {{ form_widget(registerForm.submit, { 'label': 'Регистрация', 'attr': { 'class': 'btn btn-primary pull-right'} }) }}
            </div>
        </div>
        {{ form_end(registerForm) }}
    </div>
    <!-- End Login Box -->
{% endblock %}
