{% extends '@Viazushki/base.html.twig' %}

{% block content %}
    <!-- Login Box -->
    <div class="col-md-6 col-md-offset-3 col-sm-offset-3 margin-vert-40">
        {{ form_start(form, { 'attr': {'class': 'login-page'} }) }}
        <div class="login-header margin-bottom-30 text-center">
            <h2>Восстановление пароля</h2>
            <p>Введите e-mail указаный при регистрации.</p>
            <p>На Вашу почту будет выслана ссылка с инструкцией для восстановления пароля.</p>
        </div>
        <div class="group {% if form_errors(form.email) %}has-error{% endif %}">
            {{ form_errors(form.email) }}
            <div class="input-group margin-bottom-20">
                <span class="input-group-addon">
                    <i class="fa fa-envelope"></i>
                </span>
                {{ form_widget(form.email, { 'attr': {'placeholder': 'E-mail'} }) }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                {{ form_widget(form.submit, { 'label': 'Отправить', 'attr': { 'class': 'btn btn-primary' } }) }}
            </div>
        </div>
        {{ form_end(form) }}
    </div>
    <!-- End Login Box -->
{% endblock %}

