{% extends '@Viazushki/layers.html.twig' %}

{% block topMenu %}
    {% include '@Viazushki/Includes/_topMenu.html.twig' %}
{% endblock %}

{% block content %}
    <!-- Main Column -->
    <div class="col-md-9">
        <div class="blog-post">
            <div class="blog-item-header">
                <div class="blog-post-date pull-left">
                    <span class="day">14</span>
                    <span class="month">Dec</span>
                </div>
                <h2>{{ toy.name }}</h2>
                <div class="blog-post-details">
                    <!-- Author Name -->
                    <div class="blog-post-details-item blog-post-details-item-left user-icon">
                        <i class="fa fa-user"></i>
                        <a href="#">Admin</a>
                    </div>
                    <!-- End Author Name -->
                    <!-- Tags -->
                    <div class="blog-post-details-item blog-post-details-item-left blog-post-details-tags tags-icon">
                        <i class="fa fa-tag"></i>
                        {% for tag in toy.tags %}
                            <a href="{{ path('viazushki_toy_by_tag', {'slug': tag.slug}) }}">{{ tag.name }}</a>{% if not loop.last %},{% endif %}
                        {% endfor %}
                    </div>
                    <!-- End Tags -->
                    <!-- # of Comments -->
                    <div data-toy-comments-count class="blog-post-details-item blog-post-details-item-left blog-post-details-item-last comments-icon">
                        <a href="">
                            <i class="fa fa-comments"></i>
                            {{ toy.comments|length }} Комментария
                        </a>
                    </div>
                    <!-- End # of Comments -->
                </div>
            </div>
            <div class="blog-item">
                <div class="clearfix"></div>
                <div class="blog-post-body row margin-top-15">
                    <div class="col-md-5">
                        <img class="pull-left" src="{% if toy.mainImage %}
                                    {{ asset('assets/images/') }}{{ toy.mainImage }}
                                {% else %}
                                    {{ asset('assets/images/no-image.png') }}
                                {% endif %}" alt="image1">
                    </div>
                    <div class="col-md-7">
                        <p>{{ toy.description }}</p>
                    </div>
                </div>
                <div class="blog-item-footer">
                    <!-- Comments -->
                    <div class="blog-recent-comments panel panel-default margin-bottom-30">
                        <div class="panel-heading">
                            <h3>Коментарии</h3>
                        </div>
                        <ul class="list-group">
                            {% for comment in toy.comments if not comment.parent %}
                                <li class="list-group-item" data-comment-id="{{ comment.id }}">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="comment">
                                                <div data-comment-body class="comment-body">{{ comment.message }}</div>
                                                <div class="comment-footer">
                                                    <div class="comment-footer-left">
                                                        <span><i class="fa fa-user"></i>&nbsp;{{ comment.user.username }}</span>
                                                        <span><i class="fa fa-clock-o"></i>&nbsp;{{ comment.updatedAt|date('d-m-Y H:i') }}</span>
                                                    </div>
                                                    <div class="comment-footer-right">
                                                        <span data-comment-reply-all class="{% if comment.children|length > 0 %}reply{% endif %}">Ответов: {{ comment.children|length }}</span>
                                                        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                                                            <span data-comment-reply="{{ comment.id }}" class="reply"><i class="fa fa-reply"></i>Ответить</span>
                                                            <span data-comment-update="{{ comment.id }}" class="reply"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></span>
                                                            <span data-comment-delete="{{ comment.id }}" class="reply"><i class="fa fa-times" aria-hidden="true"></i></span>
                                                        {% endif %}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div data-comment-reply-form="{{ comment.id }}" class="col-md-12 comment-reply-form">
                                        {{ form_start(commentsForms[comment.id], {'action': path('viazushki_comment_addChild', {'toyId': toy.id, 'parentId': comment.id}), 'method': 'POST'}) }}
                                        <div class="row margin-bottom-20">
                                            <div class="col-md-12 col-md-offset-0 {% if form_errors(commentsForms[comment.id].message) %}has-error{% endif %}">
                                                {{ form_errors(commentsForms[comment.id].message) }}
                                                {{ form_widget(commentsForms[comment.id].message, { 'attr': {'rows': 4} }) }}
                                            </div>
                                        </div>
                                        <p>
                                            {{ form_widget(commentsForms[comment.id].submit, { 'label': 'Ответить', 'attr': { 'class': 'btn btn-primary', 'data-coments': 'toogle'} }) }}
                                            <span class="ctrlSubmit">или <b>Ctrl + Enter</b></span>
                                        </p>
                                        {{ form_end(commentsForms[comment.id]) }}
                                    </div>
                                    {% if comment.children|length > 0 %}
                                        <ul class="list-group hidd comment-reply">
                                        {% for commentChild in comment.children %}
                                            <li class="list-group-item" data-comment-id="{{ comment.id }}">
                                                <div class="row">
                                                <div class="col-md-12">
                                                    <div class="comment">
                                                        <div data-comment-body class="comment-body">{{ commentChild.message }}</div>
                                                        <div class="comment-footer">
                                                            <div class="comment-footer-left">
                                                                <span><i class="fa fa-user"></i>&nbsp;{{ commentChild.user.username }}</span>
                                                                <span><i class="fa fa-clock-o"></i>&nbsp;{{ commentChild.updatedAt|date('d-m-Y H:i') }}</span>
                                                            </div>
                                                            <div class="comment-footer-right">
                                                                <span data-comment-update="{{ commentChild.id }}" class="reply"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></span>
                                                                <span data-comment-delete="{{ commentChild.id }}" class="reply"><i class="fa fa-times" aria-hidden="true"></i></span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                </div>
                                            </li>
                                        {% endfor %}
                                        </ul>
                                    {% endif %}
                                </li>
                            {% endfor %}
                            <!-- Comment Form -->
                            <li class="list-group-item">
                                <div class="blog-comment-form">
                                    <div class="row margin-top-20">
                                        <div class="col-md-12">
                                            <div class="pull-left">
                                                <h3>Оставте комментарий</h3>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row margin-top-20">
                                        <div class="col-md-12">
                                            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                                                {{ form_start(commentForm, {'action': path('viazushki_comment_add', {'toyId': toy.id}), 'method': 'POST'}) }}
                                                <div class="row margin-bottom-20">
                                                    <div class="col-md-12 col-md-offset-0 {% if form_errors(commentForm.message) %}has-error{% endif %}">
                                                    {{ form_errors(commentForm.message) }}
                                                    {{ form_widget(commentForm.message, { 'attr': {'rows': 4} }) }}
                                                    </div>
                                                </div>
                                                <p>
                                                    {{ form_widget(commentForm.submit, { 'label': 'Комментировать', 'attr': { 'class': 'btn btn-primary'} }) }}
                                                    <span class="ctrlSubmit">или <b>Ctrl + Enter</b></span>
                                                </p>
                                                {{ form_end(commentForm) }}
                                            {% else %}
                                                <a href="{{ path('viazushki_login') }}">Войдите</a> чтоб оставить комментарий.
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <!-- End Comment Form -->
                        </ul>
                    </div>
                    <!-- End Comments -->
                </div>
            </div>
        </div>
        <!-- End Blog Post -->
    </div>
    <!-- End Main Column -->
    <!-- Side Column -->
    <div class="col-md-3 margin-top-30">
        <div class="blog-tags">
            <h3>Категории</h3>
            <ul class="blog-tags">
                {% for category in categories %}
                    <li>
                        <a href="{{ path('viazushki_toy_by_category') }}/{{ category.slug }}" class="blog-tag">{{ category.name }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="blog-tags">
            <h3>Теги</h3>
            <ul class="blog-tags">
                {% for tag in tags %}
                    <li>
                        <a href="{{ path('viazushki_toy_by_tag') }}/{{ tag.slug }}" class="blog-tag">{{ tag.name }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="recent-posts">
            <h4>Последние добавления</h4>
            <ul class="posts-list margin-top-10">
                {% for lastToy in lastToys %}
                    <li>
                        <div class="recent-post">
                            <a href="">
                                <img class="pull-left" src="
                                    {% if lastToy.mainImage %}
                                        {{ asset('assets/images/') }}{{ lastToy.mainImage }}
                                    {% else %}
                                        {{ asset('assets/images/no-image.png') }}
                                    {% endif %}" alt="thumb1">
                            </a>
                            <a href="#" class="posts-list-title">Sidebar post example</a>
                            <br>
                            <span class="recent-post-date">July 30, 2013</span>
                        </div>
                        <div class="clearfix"></div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <!-- End Side Column -->
{% endblock %}

{% block footer %}
    {% include '@Viazushki/Includes/_footer.html.twig' %}
{% endblock %}

{% block footerMenu %}
    {% include '@Viazushki/Includes/_footerMenu.html.twig' %}
{% endblock %}
