{% extends '@Viazushki/layers.html.twig' %}

{% block content %}
    <!-- Main Column -->
    <div class="col-md-9">
        <div class="blog-post">
            <div class="blog-item-header">
                <div class="blog-post-date pull-left">
                    <span class="day">{{ toy.createdAt|date('d') }}</span>
                    <span class="month">{{ toy.createdAt|date('M') }}</span>
                </div>
                <h2>{{ toy.name }}</h2>
                <div class="blog-post-details">
                    <!-- Tags -->
                    <div class="blog-post-details-item blog-post-details-item-left blog-post-details-tags tags-icon">

                        {% for tag in toy.tags %}
                            <a href="{{ path('viazushki_toy_by_tag', {'slug': tag.slug}) }}"><i class="fa fa-tags"></i>{{ tag.name }}</a>{% if not loop.last %},{% endif %}
                        {% endfor %}
                    </div>
                    <!-- End Tags -->
                    <!-- Likes -->
                    <div {% if is_granted('IS_AUTHENTICATED_FULLY') %}data-toy-like="{{ toy.id }}"{% endif %} class="blog-post-details-item blog-post-details-item-left blog-post-details-item-last comments-icon pull-right">
                        <span>
                            <i class="fa fa-thumbs-up"></i>{% for like in toy.like if like.user == app.user %}
                                Вы {% if toy.like|length > 1 %}и ещё {{ toy.like|length - 1 }}{% endif %}
                            {% else %}
                                {{- toy.like|length -}}
                            {% endfor %}</span>
                        {{ form_start(likeForm, {'action': path('viazushki_like_update', {'slug': toy.slug}), attr: {'data-like-form': ''}}) }}
                        {{ form_end(likeForm) }}
                    </div>
                    <!-- End of Likes -->
                    <!-- Comments -->
                    <div data-toy-comments-count class="blog-post-details-item blog-post-details-item-left blog-post-details-item-last comments-icon pull-right">
                        <i class="fa fa-comments"></i>
                        {{- 'comment'|trans -}}: {{ toy.comments|length -}}
                    </div>
                    <!-- End of Comments -->
                </div>
            </div>
            <div class="blog-item">
                <div class="clearfix"></div>
                <div class="blog-post-body row margin-top-15">
                    <div class="col-md-12">
                        {{ toy.description | raw }}
                    </div>
                    <div class="portfolio-group col-md-12 margin-top-30 no-padding">
                        <div class="row">
                            {% for image in toy.images %}
                            <!-- Portfolio Item -->
                            <div class="portfolio-item col-md-6 video">
                                <div class="image-hover">
                                    <a href="#">
                                        <figure>
                                            <img src="{{ asset('assets/images/') }}{{ image.imageName }}" alt="{{ toy.name }}">
                                        </figure>
                                    </a>
                                </div>
                            </div>
                            <!-- End Portfolio Item -->
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="blog-item-footer">
                    <!-- Comments -->
                    <div class="blog-recent-comments panel panel-default margin-bottom-30">
                        <div class="panel-heading">
                            <h3>Коментарии</h3>
                        </div>
                        <ul class="list-group">
                            {% for comment in commentPagination %}
                                <li class="list-group-item" data-comment-id="{{ comment.id }}">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="comment">
                                                <div data-comment-body class="comment-body">{{ comment.message }}</div>
                                                <div class="comment-footer">
                                                    <div class="comment-footer-left">
                                                        <span><i class="fa fa-user"></i>&nbsp;{{ comment.user.username }}</span>
                                                        <span><i class="fa fa-clock-o"></i>&nbsp;{{ comment.updatedAt|date('d-m-Y H:i') }}</span>
                                                    </div>
                                                    <div class="comment-footer-right">
                                                        <span data-comment-reply-all class="{% if comment.children|length > 0 %}reply{% endif %}">Ответов: {{ comment.children|length }}</span>
                                                        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                                                            <span data-comment-reply="{{ comment.id }}" class="reply"><i class="fa fa-reply"></i>Ответить</span>
                                                            {% if is_granted('edit', comment) %}
                                                            <span data-comment-update="{{ comment.id }}" class="reply"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></span>
                                                            {% endif %}
                                                            {% if is_granted('ROLE_ADMIN') %}
                                                            <span data-comment-delete="{{ comment.id }}" class="reply"><i class="fa fa-times" aria-hidden="true"></i></span>
                                                            {% endif %}
                                                        {% endif %}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div data-comment-reply-form="{{ comment.id }}" class="col-md-12 comment-reply-form">
                                        {{ form_start(commentsForms[comment.id], {'action': path('viazushki_comment_addChild', {'toy': toy.id, 'commentParent': comment.id}), 'method': 'POST'}) }}
                                        <div class="row margin-bottom-20">
                                            <div class="col-md-12 col-md-offset-0 {% if form_errors(commentsForms[comment.id].message) %}has-error{% endif %}">
                                                {{ form_errors(commentsForms[comment.id].message) }}
                                                {{ form_widget(commentsForms[comment.id].message, { 'attr': {'rows': 4} }) }}
                                            </div>
                                        </div>
                                        <p>
                                            {{ form_widget(commentsForms[comment.id].submit, { 'label': 'Ответить', 'attr': { 'class': 'btn btn-primary', 'data-coments': 'toogle'} }) }}
                                            <span class="ctrlSubmit">или <b>Ctrl + Enter</b></span>
                                        </p>
                                        {{ form_end(commentsForms[comment.id]) }}
                                    </div>
                                    {% if comment.children|length > 0 %}
                                        <ul class="list-group hidd comment-reply">
                                        {% for commentChild in comment.children %}
                                            <li class="list-group-item" data-comment-id="{{ comment.id }}">
                                                <div class="row">
                                                <div class="col-md-12">
                                                    <div class="comment">
                                                        <div data-comment-body class="comment-body">{{ commentChild.message }}</div>
                                                        <div class="comment-footer">
                                                            <div class="comment-footer-left">
                                                                <span><i class="fa fa-user"></i>&nbsp;{{ commentChild.user.username }}</span>
                                                                <span><i class="fa fa-clock-o"></i>&nbsp;{{ commentChild.updatedAt|date('d-m-Y H:i') }}</span>
                                                            </div>
                                                            <div class="comment-footer-right">
                                                                {% if is_granted('edit', commentChild) %}
                                                                <span data-comment-update="{{ commentChild.id }}" class="reply"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></span>
                                                                {% endif %}
                                                                {% if is_granted('ROLE_ADMIN') %}
                                                                <span data-comment-delete="{{ commentChild.id }}" class="reply"><i class="fa fa-times" aria-hidden="true"></i></span>
                                                                {% endif %}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                </div>
                                            </li>
                                        {% endfor %}
                                        </ul>
                                    {% endif %}
                                </li>
                            {% endfor %}
                            {{ knp_pagination_render(commentPagination) }}
                            <!-- Comment Form -->
                            <li class="list-group-item">
                                <div class="blog-comment-form">
                                    <div class="row margin-top-20">
                                        <div class="col-md-12">
                                            <div class="pull-left">
                                                <h3>Оставте комментарий</h3>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row margin-top-20">
                                        <div class="col-md-12">
                                            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                                                {{ form_start(commentForm, {'action': path('viazushki_comment_add', {'toy': toy.id}), 'method': 'POST'}) }}
                                                <div class="row margin-bottom-20">
                                                    <div class="col-md-12 col-md-offset-0 {% if form_errors(commentForm.message) %}has-error{% endif %}">
                                                    {{ form_errors(commentForm.message) }}
                                                    {{ form_widget(commentForm.message, { 'attr': {'rows': 4} }) }}
                                                    </div>
                                                </div>
                                                <p>
                                                    {{ form_widget(commentForm.submit, { 'label': 'Комментировать', 'attr': { 'class': 'btn btn-primary'} }) }}
                                                    <span class="ctrlSubmit">или <b>Ctrl + Enter</b></span>
                                                </p>
                                                {{ form_end(commentForm) }}
                                            {% else %}
                                                <a href="{{ path('viazushki_login') }}">Войдите</a> чтоб оставить комментарий.
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <!-- End Comment Form -->
                        </ul>
                    </div>
                    <!-- End Comments -->
                </div>
            </div>
        </div>
        <!-- End Blog Post -->
    </div>
    <!-- End Main Column -->

    {% include '@Viazushki/Includes/_mainSidebar.html.twig' %}

{% endblock %}
